---
import Layout from '@/layouts/Layout.astro';
import { HeroParallax } from '@/components/ui/hero-parallax.tsx';
import inventosData from '@/data/inventos.json';
---

<Layout title="Inventos del Siglo 21">
  <main class=" min-h-screen w-full bg-black relative">
    <HeroParallax products={inventosData} client:load />
    <div class=" bg-black w-full lg:h-36">

    </div>
  </main>
</Layout>
