---
import '../styles/global.css'
import Header from '@/components/layout/Header.astro';
import { ClientRouter } from "astro:transitions";

interface Props {
	title?: string;
	description?: string;
	class?: string;
}

const{ 
		title = 'Ingeniería del Siglo XXI', 
		description = 'Explora los inventos más innovadores del siglo XXI y descubre cómo están transformando nuestro mundo.', 
		class: className 
	} = Astro.props;

---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<ClientRouter />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<slot />
	</body>
</html>

<style>
	html, body {
		background-color: #0A0A0A;
		margin: 0;
		width: 100%;
		height: 100%;
  		font-family: 'Onest Variable', sans-serif;
		font-display: swap;
	}
	:root {
		scrollbar-color: #4848484a transparent;
		scrollbar-width: thin;
		scroll-behavior: smooth;
	}
</style>
